html, body {
    margin: 0;
    padding: 0;
}


/*
BLUE COLOR: #205f93;
*/

/*
BANNER -> SMALLER ANd STICK TO TOP OF
*/

/*============================================================
Other Styles
============================================================*/
.line {
    margin: 0 auto;
    height: 1px;
    background-color: #999;
    width: 80%;
}

.superTop {
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: rgb(37, 163, 155);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.superTop .left {
    display: inline;
    float: left;
}

.superTop .left p {
    display: inline;
    padding-left: 1em;
}

.superTop .right {
    float: right;
}

.superTop .right i {
    padding-right: 1.5em;
}


/*Banner*/

.banner {
    /*Fix To Top?*/
    /*position: fixed;
    width: 100%;
    top: 0;*/
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #205f93;
    position: absolute;
    z-index: 100;
    display: flex;
    top: 0;
}

.banner img {
    padding-left: 8em;
    padding-right: 8em;
    float: left;
}

.banner h1 {
    padding: 0;
    padding-left: 4em;
    padding-right: 6em;
    float: left;
    line-height: 100px;
}

.banner .mainlink {
    margin: 0;
    padding: 0;
    display: inline-block;
    /*center text in div*/
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    /*background-color: green;*/
    height: calc(100% - 5px);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    padding-left: 3em;
    padding-right: 6em;
    font-size: 28px;
}

.banner .link {
    margin: 0;
    padding: 0;
    display: inline-block;
    /*center text in div*/
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    /*background-color: green;*/
    height: calc(100% - 5px);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.banner .link:hover {
    opacity: 0.6;
}

.banner a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1080px) {

    .banner .mainlink {
        padding-left: 1em;
        padding-right: 3em;
    }
}

@media only screen and (max-width: 960px) {

    .banner .mainlink {
        padding-left: 0.5em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 880px) {

    .banner .link {
        display: none;
    }
}


/*============================================================
Hero
============================================================*/

.hero {
    margin-top: 90px;
    height: 600px;
    color: white;
    background-image: url("images/kidsbackground.png");
    background-size: cover;
    overflow: hidden;
    z-index: -5;
}

.hero-content {
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-left: 6em;
    padding-right: 6em;
}

.hero-content h1 {
    padding: 0;
    margin: 0;
    padding-top: 3em;
    /* padding-left: 1em; */
    text-transform: uppercase;
    font-size: 48px;
}

.hero-content a {
    background-color: white;
    padding: 1em;
    transition: 0.2s;
    border: solid #eee 1px;
    color: #205f93;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.hero-content a:hover {
    opacity: 0.8;
}

.hero-content h2 {}

.hero-content p {}

@media only screen and (max-width: 600px) {

    .hero-content p {
        display: none;
    }
}


/*============================================================
About
============================================================*/

.about {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    /* height: 500px; */
    background-color: white;
    color: black;
}

.about h2 {
    margin-bottom: 0em;
    color: #205f93;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about h3 {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about p {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 28px;
    padding-bottom: 2em;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .col-33 {
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.5em;
    width: calc(33% - 5em);
}

.about .col-33 p {
    color: #6f6f6f;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 1140px) {

    .about-container {
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
    }

    .about .col-33 {
        width: auto;
        max-width: 500px
    }
}


/*============================================================
Classes
============================================================*/

.classes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: #f1f1f1;
    color: black;
}

.classes h2 {
    margin-bottom: 0em;
    color: #205f93;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.classes h3 {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.classes p {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 28px;
    padding-bottom: 2em;
}

.classes .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.classes .card p {
    color: #6f6f6f;
    font-size: 15px;
    text-align: left;
}

.classes .card {
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.5em;
    width: calc(33% - 5em);
    /*padding: 1em;
    margin: 0.5em;
    width: calc(33% - 3em);
    float: left;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;*/
}

@media only screen and (max-width: 1140px) {

    /*.about-container {
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
    }*/

    .classes .card {
        width: auto;
        max-width: 500px
    }
}


/*============================================================
Tutors
============================================================*/

.tutors {
    margin: 0;
    padding: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: white;
    color: black;
    text-align: center;
}

.tutors img {
    padding-top: 12px;
    width: 90%;
    text-align: center;
}

.tutors h2 {
    margin-bottom: 0em;
    color: #205f93;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tutors h3 {
    color: #222;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tutors p {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 1em;
    text-decoration: none;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 28px;
    padding-bottom: 2em;
}

.tutors .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
}

.tutors .card {
    margin: 0.75em;
    width: calc(33% - 1.5em);
    float: left;
    background-color: rgb(244, 244, 244);
    height: 500px;
}

.tutors .card p {
    color: #6f6f6f;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 1140px) {

    /*.about-container {
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
    }*/

    .tutors .card {
        width: auto;
        max-width: 300px
    }
}

/*============================================================
Contact
============================================================*/

.contact {
    padding: 0;
    margin: 0;

    padding-top: 6em;
    padding-bottom: 6em;

    background-color: #f1f1f1;
}

.contact .map {
    margin: 0 auto;
    background-color: white;
    width: 90%;
    max-width: 800px;
    height: 500px;
    margin-bottom: 8em;
}

.contact h2 {
    color: #205f93;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact p {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 28px;
    padding-bottom: 2em;
    /*text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.contact form input {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0.5em;
    font-size: 0.9em;
    padding: 1em;
    width: 400px;
    height: 20px;

    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;

    width: 80%;
    max-width: 400px;
}

.contact form input[type="text"]:focus {
    border-color: #4885ed;
}

.contact form textarea {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0.5em;
    line-height: 1.5em;
    font-size: 0.9em;
    border: 1px solid #ccc;
    width: 400px;
    padding: 1em;
    height: 150px;

    outline: none;
    box-shadow: none;

    width: 80%;
    max-width: 400px;
}

.contact form {
    text-align: center;
}

.contact form textarea:focus {
    border-color: #4885ed;
}

.contact form input[type=submit] {
    border: solid 1px #ccc;
    background-color: white;
    color: black;
    margin: 0.5em;
    line-height: 1em;
    font-size: 0.9em;
    width: calc(400px + 2em);
    height: calc(20px + 2em);
    cursor:pointer;

    width: calc(80% + 2em);
    max-width: calc(400px + 2em);
}

.contact form input[type=submit]:hover {
    outline: none;
    border: solid 1px #bbb;
    background-color: #fefefe;
}

.contact form input[type=submit]:active {
    outline: none;
    border: solid 1px #205f93;
    background-color: #fdfdfd;
}


/*============================================================
Footer
============================================================*/

.footer {
    color: white;
    background-color: #205f93;
}

.footer h2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    line-height: 21px;
}

.footer .left i {
    color: #205f93;
    border-radius: 50%;
    background-color: white;
    margin-right: 1em;
    padding: 0em;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    transition: 0.2s;
}

.footer .left i:hover {
    opacity: 0.5;
}

.footer .flex {
    /*background-color: red;*/
    display: flex;
    margin: 0 auto;
    /*width: 80vw;*/
    flex-wrap: wrap;
    justify-content: center;
}

.footer .flex p {
    text-align: left;
}

.footer .left {
    /*background-color: yellow;*/
    margin: 2em;
    padding: 2em;
    width: 300px;
}

.footer .right {
    /*background-color: yellow;*/
    margin: 2em;
    padding: 2em;
    width: 300px;
}

.footer .right a:link {
    text-decoration: none;
    color: white;
}

.footer .right a:visited {
    text-decoration: none;
    color: white;
}

.footer .righta:hover {
    text-decoration: underline;
}

.footer .right a:active {
    text-decoration: underline;
}

.footer .bottom {
    padding-top: 6em;
    padding-bottom: 3em;
}
