
body {
    background-image: url("images/background.png");
    background-size: cover;
    font-family: "Helvetica Neue";
    background-attachment: fixed;

}

.home {
    width: 900px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    position: absolute;
    height: 100%;
}
.info {
    top: 100%;
    width: 900px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    position: absolute;
    height: 100%;
    text-align: center;
}

.home > p {
    text-align: center;
}

p.title {
    font-size: 60px;
}

p.description {
    font-size: 30px;
}

p.signup {
    font-size: 25px;
}

form.email_field  > fieldset {
    border-style: solid;
}

form.email_field > fieldset {
    font-size: 1em;
    padding: 0;
    border-radius: 7px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    border-color: white;
}

form.email_field input {
    font-size: inherit;
    width: 800px;
    padding: 0;
    margin: 0;
    border-width: 0;
    float: left;
    position: absolute;
    height: 30px;
    padding-left: 10px;
    border-color: inherit;
}
form.email_field input:focus {
    outline-width: 0;
}
form.email_field button {
    width: 85px;
    float: right;
    font-weight: bold;
    font-size: inherit;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-width: 0;
    color: white;
    height: 30px;
}

form.email_field button:focus {
    background-color: white;
    color: #314C66;
    outline-width: 0;
}

.home a {
    color: white;
}
.home i {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%);
    font-size: 70px;
}
